In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_csv(r"C:\\Users\\nanic\Downloads\\amazon_products_sales_data_cleaned.csv")
df.head(2)

,product_title,product_rating,total_reviews,purchased_last_month,discounted_price,original_price,is_best_seller,is_sponsored,has_coupon,buy_box_availability,delivery_date,sustainability_tags,product_image_url,product_page_url,data_collected_at,product_category,discount_percentage
0,BOYA BOYALINK 2 Wireless Lavalier Microphone f...,4.6,375.0,300.0,89.68,159.00,No Badge,Sponsored,Save 15% with coupon,Add to cart,2025-09-01,Carbon impact,https://m.media-amazon.com/images/I/71pAqiVEs3...,https://www.amazon.com/sspa/click?ie=UTF8&spc=...,2025-08-21 11:14:29,Phones,43.60
1,"LISEN USB C to Lightning Cable, 240W 4 in 1 Ch...",4.3,2457.0,6000.0,9.99,15.99,No Badge,Sponsored,No Coupon,Add to cart,2025-08-29,NaN,https://m.media-amazon.com/images/I/61nbF6aVIP...,https://www.amazon.com/sspa/click?ie=UTF8&spc=...,2025-08-21 11:14:29,Laptops,37.52

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 42675 entries, 0 to 42674
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   product_title         42675 non-null  str
 1   product_rating        41651 non-null  float64
 2   total_reviews         41651 non-null  float64
 3   purchased_last_month  32164 non-null  float64
 4   discounted_price      40613 non-null  float64
 5   original_price        40613 non-null  float64
 6   is_best_seller        42675 non-null  str
 7   is_sponsored          42675 non-null  str
 8   has_coupon            42675 non-null  str
 9   buy_box_availability  28022 non-null  str
 10  delivery_date         30692 non-null  str
 11  sustainability_tags   3408 non-null   str
 12  product_image_url     42675 non-null  str
 13  product_page_url      40606 non-null  str
 14  data_collected_at     42675 non-null  str
 15  product_category      42675 non-null  str
 16  discount_percentage   40613 non-null  float64
dtypes: float64(6), str(11)
memory usage: 5.5 MB

In [8]:
df.isnull().sum()*100 / len(df)

product_title            0.000000
product_rating           2.399531
total_reviews            2.399531
purchased_last_month    24.630346
discounted_price         4.831869
original_price           4.831869
is_best_seller           0.000000
is_sponsored             0.000000
has_coupon               0.000000
buy_box_availability    34.336262
delivery_date           28.079672
sustainability_tags     92.014060
product_image_url        0.000000
product_page_url         4.848272
data_collected_at        0.000000
product_category         0.000000
discount_percentage      4.831869
dtype: float64

In [9]:
df.duplicated().sum

<bound method Series.sum of 0        False
1        False
2        False
3        False
4        False
         ...
42670    False
42671    False
42672    False
42673    False
42674    False
Length: 42675, dtype: bool>

### action items

In [10]:
df.columns

Index(['product_title', 'product_rating', 'total_reviews',
       'purchased_last_month', 'discounted_price', 'original_price',
       'is_best_seller', 'is_sponsored', 'has_coupon', 'buy_box_availability',
       'delivery_date', 'sustainability_tags', 'product_image_url',
       'product_page_url', 'data_collected_at', 'product_category',
       'discount_percentage'],
      dtype='str')

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
product_rating,41651.0,4.399431,0.386997,1.00,4.20,4.50,4.70,5.00
total_reviews,41651.0,3087.106000,13030.460133,1.00,82.00,343.00,1886.00,865598.00
purchased_last_month,32164.0,1293.665278,6318.323574,50.00,100.00,200.00,400.00,100000.00
discounted_price,40613.0,243.227289,473.351545,2.16,29.69,84.99,224.00,5449.00
original_price,40613.0,257.611107,496.633495,2.16,32.99,89.00,229.99,5449.00
discount_percentage,40613.0,6.547151,12.744715,0.00,0.00,0.00,8.49,85.42

In [13]:
df.select_dtypes(include="number")

,product_rating,total_reviews,purchased_last_month,discounted_price,original_price,discount_percentage
0,4.6,375.0,300.0,89.68,159.00,43.60
1,4.3,2457.0,6000.0,9.99,15.99,37.52
2,4.6,3044.0,2000.0,314.00,349.00,10.03
3,4.6,35882.0,10000.0,162.24,162.24,0.00
4,4.8,28988.0,10000.0,72.74,72.74,0.00
...,...,...,...,...,...,...
42670,5.0,1.0,100.0,195.99,195.99,0.00
42671,4.2,20.0,200.0,89.99,89.99,0.00
42672,4.3,57.0,50.0,899.99,1099.99,18.18
42673,4.7,7102.0,500.0,10.39,15.98,34.98
42674,4.4,75.0,50.0,419.99,499.99,16.00